body {
  margin: 0 !important;
}
.main-container {
  display: flex;
  justify-content: space-between;
  width: full;
}

.profile {
  width: auto;
  display: flex;
}
.profile-left {
  padding: 2.5cqw;
  position: sticky;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #fff;
}
.profile-right {
  padding: 2.5cqw;
  position: sticky;
  right: 0;
  top: 0;
  z-index: -10;
  height: 100vh;
  background-color: #bbfcea;
}

.jobMain {
  position: relative;
}

.filters {
  margin: 3cqw;
  display: flex;
  gap: 1cqw;
}

.left-arrow {
  padding: 0.2rem;
  z-index: 20;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  position: absolute;
  border-radius: 0.7cqw;
  border: 1px solid #a7a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.right-arrow {
  padding: 0.2rem;
  z-index: 20;
  right: 0;
  transform: translateX(50%) translateY(-50%);
  top: 50%;
  position: absolute;
  border-radius: 0.7cqw;
  border: 1px solid #a7a5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.main {
  position: relative;
  width: auto;
}

.header {
  position: sticky;
  top: 0;
  background: white;
  padding: 0.5cqw 0;
  z-index: 50;
  border-radius: 1cqw;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.header-main {
  position: relative;
  z-index: 10;
  width: 100%;

  /* border:  1px solid black; */
}

.jobList-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2cqw;
  margin: 3rem;
}

.jobCard {
  border: 0.1cqw solid rgba(90, 90, 90, 0.2);
  border-radius: 1cqw;
  box-shadow: 0 4px 8px 0 rgba(90, 90, 90, 0.2),
    0 6px 20px 0 rgba(118, 116, 116, 0.19);
  cursor: pointer;
  display: flex;
  align-items: stretch;
  padding: 1rem;
}

.jobCard-heading {
  display: flex;
  gap: 1cqw;
  align-items: start;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 0.5cqw;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1cqw;
  padding-top: 1.5cqw;
}


.image-container {
  width: 25%;
}

.image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.view-more-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5cqw;
}

.view-more {
  border: none;
  padding: 0.5cqw;
  font-weight: 300;
  color: blue;
  width: 100%;
  background: transparent;
}

h3 {
  color: #403f3f !important;
  /* font-size: 1.25cqw; */
  font-weight: 500;
  margin: 0 !important;
    padding: 0 !important;
}

p {
    margin: 0 !important;
    padding: 0 !important;
    color: #504f4f ;
  font-size: 1.15cqw;
  line-height: 1.6cqw;
  padding-top: 1cqw;
}
h4 {
    margin: 0 !important;
    padding: 0 !important;
    color: #0a0a0a;
  font-size: 1.15cqw;
  line-height: 1.6cqw;
  padding-top: 1cqw;
  font-weight: 300;
}
h5 {
    margin: 0 !important;
    padding: 0 !important;
    color: #0a0a0a;
  font-size: 1cqw;
  font-weight: 300;
}

.easy-apply {
  border: none;
  background: #9ddfcc;
  padding: 0.8cqw;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5cqw;
  color: #0a0a0a;
  justify-content: center;
  border-radius: 0.5cqw;
  margin-top: 1cqw;
  text-decoration: none;
}

.exp-section{
display: flex;
flex-direction: column;
gap: 0.4cqw;
}

